body {
    font-family: "Maven Pro", Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #c4c4c4;
}

/* GESTION DU HEADER EN CSS */

header {
    display: flex;
    position: relative;
    background-image: url('Pictures/Recette09.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}


.titreCentral {
    display: flex;
    width: auto;
    font-weight: 600;
    background-color: black;
    color: yellow;
    font-size: 60px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.titreCentral span {
    margin: 5px;
}


.barreDeRecherche {
    display: flex;
    align-items: center;
    max-width: 450px;
}

.barreDeRecherche input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 390px;
    font-size: 30px;
}

.barreDeRecherche button {
    padding: 8px 16px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 30px;
}






/* GESTION DE LA PAGE EN CSS */








.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 60px;
    margin-right: 20px;
    margin-left: 50px;
}

.dropdown-btnIngredient {
    background-color: #ffffff;
    color: #333;
    padding: 0px 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}



.dropdown-btnAppareils {
    background-color: #ffffff;
    color: #333;
    padding: 0px 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

.dropdown-btnUstensiles {
    background-color: #ffffff;
    color: #333;
    padding: 0px 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}


.dropdown-content {
    display: none;
    width: 146px;
    position: absolute;
    top: 95%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 4px 4px;
    padding: 12px;
    z-index: 1;
    cursor: pointer;
    max-height: 200px;
    overflow-y: auto;
}

.btn-rounded {
    border-radius: 4px 4px 0 0;
}



.search-bar-menu {
    height: 30px;
    width: 140px;
}

.dropdown-content .option {
    color: #333;
    padding: 8px 12px;
    transition: background-color 0.2s ease;
}

.dropdown-content .option:hover {
    background-color: #f1f1f1;
}

.dropdown.open .dropdown-content {
    display: block;
}

.dropdown .arrow {
    margin-left: 5px;
    transition: transform 0.2s ease;
}

.dropdown.open .arrow {
    transform: rotate(180deg);
}

































.recettesContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.textTotalRecettes {
    position: absolute;
    top: 700px;
    right: 0;
    margin-top: 30px;
    font-size: 25px;
    margin-right: 30px;
}

.recettesCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    margin-bottom: 30px;
}

.oneCardRecette {
    position: relative;
    width: 480px;
    height: 900px;
    background-color: white;
    margin-left: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 70px;
}

.timingTitleCard {
    position: absolute;
    top: 2%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: black;
    width: auto;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: yellow;
    font-size: 17px;
}

.oneCardPicture {
    object-fit: cover;
    width: 100%;
    height: 35%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}




.cardTitre {
    font-weight: 600;
    font-size: 24px;
    color: black;
    margin-left: 15px;
}

.recetteText {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 90%;
    height: 150px;
}

.cardLightTitre {
    color: grey;
    font-weight: 300;
    font-size: 17px;
    width: 20px;
}

.cardLightTitreIngredient {
    color: grey;
    font-weight: 300;
    font-size: 17px;
    width: 20px;
}

.recettePara {
    margin-top: -20px;
    white-space: pre-line;
    font-weight: 400;
    font-size: 16px;
}



/* ZONE A PATCH */

.recetteIngredient {
    position: relative;
    width: 500px;
    height: 500px;
}

.lesIngredients {
    display: flex;
    position: absolute;
    width: 300px;
    height: 105%;
    top: 15%;
}

.oneIngredient {
    width: 500px;
    height: 300px;
}

div.detailIngredient {
    display: flex;
    width: 400px;
    height: 200px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titleIngredient {
    font-weight: 500;
    font-size: 17px;
    color: black;
}

.detailIngredient {
    color: grey;
    margin-top: -10px;
}

