

/*_________________________________________________________________________ */
/* ------------- Styles du header et de la barre de recherche ------------- */
/*_________________________________________________________________________ */

body {
    font-family: "Maven Pro", Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #c4c4c4;
}


header {
    display: flex;
    position: relative;
    background-image: url('Pictures/Recette09.jpg');
    background-size: cover;
    background-position: center;
    height: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.555), rgb(0, 0, 0)), url('Pictures/Recette09.jpg');
    background-size: cover;
    background-position: center;
}


.titreCorpo {
    display: flex;
    position: absolute;
    align-items: end;
    left: 4%;
    top: 5%;
    font-family: 'Anton', sans-serif;
    font-size: 35px;
    color: white;
}
.titreCorpo span {
    margin-right: 10px;
}
.titreCorpo i {
    font-size: 26px;
    margin-bottom: 12px;
}
.titreCentral {
    display: flex;
    width: auto;
    font-family: 'Anton', sans-serif;
    color: #FFD15B;
    font-size: 45px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.titreCentral span {
    margin: 5px;
}


.barreDeRecherche {
    display: flex;
    position: relative;
    align-items: center;
}
.barreDeRecherche input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px 15px 15px 15px;
    width: 1130px;
    height: 60px;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    padding-left: 30px;
    font-weight: 100;
} 


.containSearchIcone {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 30);
    width: 60px;
    height: 60px;
    color: white;
    border-radius: 12px 12px 12px 12px;
    right: 0%;
    margin-right: 10px;
}


.iconeSearchBar {
    font-size: 30px;
    color: white;
}




/*_________________________________________________________________________ */
/* ------------- Styles du menu déroulant ------------- */
/*_________________________________________________________________________ */

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 60px;
    margin-right: 20px;
    margin-left: 50px;
}


.dropdown-btnIngredient {
    background-color: #ffffff;
    color: #333;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
}


.dropdown-btnAppareils {
    background-color: #ffffff;
    color: #333;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
}


.dropdown-btnUstensiles {
    background-color: #ffffff;
    color: #333;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
}


.dropdown-content {
    display: none;
    width: 146px;
    position: absolute;
    top: 95%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 4px 4px;
    padding: 12px;
    z-index: 1;
    cursor: pointer;
    max-height: 200px;
    overflow-y: auto;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 600;
}


.btn-rounded {
    border-radius: 4px 4px 0 0;
}


.search-bar-menu {
    height: 30px;
    width: 140px;
}


.dropdown-content .option {
    color: #333;
    padding: 8px 12px;
    transition: background-color 0.2s ease;
}
.dropdown-content .option:hover {
    background-color: #ffc400;
}
.dropdown.open .dropdown-content {
    display: block;
}
.dropdown .arrow {
    margin-left: 5px;
    transition: transform 0.2s ease;
}
.dropdown.open .arrow {
    transform: rotate(180deg);
}


.containDisplayOption {
    display: flex;
    width: 100%;
    margin-top: -30px;
}
.containOptionIngredient {
    width: 200px;
    margin-left: 50px;
    margin-right: 40px;
    position: relative;
}


.displayOptionIngredient {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    height: 40px;
    width: 80%;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #ffc228;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
}


.containOptionAppareils {
    width: 200px;
    margin-left: 5px;
    margin-right: 40px;
    position: relative;
}


.displayOptionAppareil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    height: 40px;
    width: 80%;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #ffc228;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
}


.containOptionUstensiles {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 200px;
    margin-left: 5px;
}


.displayOptionUstensiles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    height: 40px;
    width: 80%;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #ffc228;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
}


.iconeCroixOption {
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-right: 10px;
}









/*_________________________________________________________________________ */
/* ------------- Styles des recettes ------------- */
/*_________________________________________________________________________ */

.recettesContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-around;
    margin-left: -25px;
}


.textTotalRecettes {
    font-family: 'Anton', sans-serif;
    position: absolute;
    right: 5%;
    font-size: x-large;

}


.recettesCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    margin-bottom: 30px;
}


.oneCardRecette {
    position: relative;
    width: 480px;
    height: 900px;
    background-color: white;
    margin-left: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 70px;
}


.timingTitleCard {
    position: absolute;
    top: 2%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: black;
    width: auto;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: yellow;
    font-size: 17px;
}


.oneCardPicture {
    object-fit: cover;
    width: 100%;
    height: 35%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.cardTitre {
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    color: black;
    margin-left: 15px;
}


.recetteText {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 90%;
    height: auto;
}


.cardLightTitre {
    color: grey;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 14px;
    width: 20px;
    margin-bottom: 35px;
}


.recettePara {
    margin-top: -20px;
    font-weight: 400;
    font-size: 16px;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    width: 100%;
    height: 75px;
}


.recetteIngredient {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 30%;
    margin-top: -35px;
}


.cardLightTitreIngredient {
    color: grey;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 2px;
    margin-left: 15px;
    font-weight: 600;
    font-size: 14px;
    width: 20px;
    margin-bottom: 35px;
}


.oneIngredient {
    margin-left: 15px;
}


.titleIngredient {
    font-weight: 500;
    font-size: 17px;
    color: black;
}


.detailIngredient {
    color: grey;
    font-family: 'Manrope', sans-serif;
    letter-spacing: -1px;
    margin-top: -10px;
}