body {
    font-family: "Maven Pro", Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #eeeeee;
}

/* GESTION DU HEADER EN CSS */

header {
    display: flex;
    position: relative;
    background-image: url('Pictures/Recette09.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}


.titreCentral {
    display: flex;
    width: auto;
    font-weight: 600;
    background-color: black;
    color: yellow;
    font-size: 60px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.titreCentral span {
    margin: 5px;
}


.barreDeRecherche {
    display: flex;
    align-items: center;
    max-width: 450px;
}

.barreDeRecherche input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 390px;
    font-size: 30px;
}

.barreDeRecherche button {
    padding: 8px 16px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 30px;
}






/* GESTION DE LA PAGE EN CSS */

.menus-deroulants {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 50px;
}

.menus-deroulants select {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 50px;
    font-size: 25px;
}

.menus-deroulants select:focus {
    outline: none;
    border-color: #0066ff;
}

.menus-deroulants select option:first-child {
    color: #999;
}

.textTotalRecettes {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 30px;
    font-size: 25px;
    margin-right: 30px;
}

.recettesCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.oneCardRecette {
    position: relative;
    width: 480px;
    height: 900px;
    background-color: white;
    margin-left: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 70px;
}

.timingTitleCard {
    position: absolute;
    top: 2%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: black;
    width: auto;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: yellow;
    font-size: 17px;
}

.oneCardPicture {
    object-fit: cover;
    width: 100%;
    height: 35%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}




.cardTitre {
    font-weight: 600;
    font-size: 24px;
    color: black;
    margin-left: 15px;
}

.recetteText {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 90%;
    height: 150px;
}

.cardLightTitre {
    color: grey;
    font-weight: 300;
    font-size: 17px;
    width: 20px;
}

.cardLightTitreIngredient {
    color: grey;
    font-weight: 300;
    font-size: 17px;
    width: 20px;
}

.recettePara {
    margin-top: -20px;
    white-space: pre-line;
    font-weight: 400;
    font-size: 16px;
}

.recetteIngredient {
    position: relative;
    display: flex;
    width: 90%;
    height: 35%;
    margin-left: 15px;
}

.lesIngredients {
    display: flex;
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 105%;
    top: 15%;
}

.oneIngredient {
    width: 150px;
    height: 90px;
    padding-right: 60px;
}

.titleIngredient {
    font-weight: 500;
    font-size: 17px;
}

.detailIngredient {
    color: grey;
    margin-top: -10px;
}